/* Korean body font: Maru Buri (https://hangeul.naver.com/) - SIL OFL v1.1 */
@font-face {
    font-family: "MaruBuri";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local("MaruBuri"), local("MaruBuriOTF"),
         url("https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-ExtraLight.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "MaruBuri";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("MaruBuri"), local("MaruBuriOTF"),
         url("https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-Light.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-Light.woff") format("woff");
}

@font-face {
    font-family: "MaruBuri";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("MaruBuri"), local("MaruBuriOTF"),
         url("https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-Regular.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-Regular.woff") format("woff");
}

@font-face {
    font-family: "MaruBuri";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("MaruBuri"), local("MaruBuriOTF"),
         url("https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-SemiBold.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "MaruBuri";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("MaruBuri"), local("MaruBuriOTF"),
         url("https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-Bold.woff2") format("woff2"),
         url("../../fonts/MaruBuri/MaruBuri-Bold.woff") format("woff");
}
