/* Define font variables */
:root {
  --font-body: "MaruBuri", "Noto Serif CJK KR", "Noto Serif CJK JP", "Noto Serif KR", "Noto Serif JP", "Noto Serif", serif;
  --font-ui: "PretendardSubset", "Pretendard JP", "Pretendard", sans-serif;
  --font-monospace: "D2Coding", "Noto Sans Mono CJK KR", "Noto Sans Mono CJK JP", "Noto Sans Mono", monospace, sans-serif;
}

/* Apply fonts */
body {
  font-family: var(--font-ui);
}

.post-content {
  font-family: var(--font-body);
}

code, pre, pre code {
  font-family: var(--font-monospace);
}
