/* Korean / Japanese UI font: Pretendard (https://github.com/orioncactus/pretendard) - SIL OFL v1.1 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/variable/pretendardvariable-jp-dynamic-subset.min.css");
