:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 840px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;

    --theme: #F9FBFE;
    --entry: rgb(255, 255, 255);
    --primary: #121212;
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --accent: #2495F7;
    --content: #121212;
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(238, 238, 238);
    --code-fg: #F72F25;
    --border: rgb(238, 238, 238);

    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: #121212;
    --entry: rgb(46, 46, 51);
    --primary: #F9FBFE;
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --accent: #4AA5FA;
    --content: #F9FBFE;
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(51, 51, 51);
    --code-fg: #F75A55;
    --border: rgb(51, 51, 51);

    color-scheme: dark;
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}
